<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em> KeyBooks Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e06f">  <td>21/11/02 19:38:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTest@25d250c6]">loginTest</td> 
  <td>main@204715855</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>21/11/02 19:38:29</td>   <td>5778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.recordFailure(org.testng.ITestResult)[pri:0, instance:selenium.tests.LoginTest@25d250c6]">&lt;&lt;recordFailure</td> 
<td>&nbsp;</td>  <td>main@204715855</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>21/11/02 19:38:18</td>   <td>-4782</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:selenium.tests.LoginTest@25d250c6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@204715855</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>21/11/02 19:38:29</td>   <td>5782</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.tests.LoginTest@25d250c6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@204715855</td>   <td></td> </tr>
</table>
