<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9da28c">  <td>21/11/02 21:24:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTestDataProviderExample@3c9d0b9d]">loginTest</td> 
  <td>main@411506101</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>21/11/02 21:24:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTestDataProviderExample@3c9d0b9d]">loginTest</td> 
  <td>main@411506101</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>21/11/02 21:24:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTestDataProviderExample@3c9d0b9d]">loginTest</td> 
  <td>main@411506101</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>21/11/02 21:24:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestDataProviderExample.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTestDataProviderExample@3c9d0b9d]">loginTest</td> 
  <td>main@411506101</td>   <td></td> </tr>
<tr bgcolor="9ba6c3">  <td>21/11/02 21:23:30</td>   <td>-36764</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:selenium.tests.LoginTestDataProviderExample@3c9d0b9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411506101</td>   <td></td> </tr>
<tr bgcolor="9ba6c3">  <td>21/11/02 21:24:20</td>   <td>12631</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.tests.LoginTestDataProviderExample@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411506101</td>   <td></td> </tr>
</table>
